/*---RESET---*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----GENERAL----*/

.container{
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}
.img-fluid{
    max-width: 100%;
}

/*---HEADER----*/

header > .container{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

header{
    background-color: #ff6900;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav, header .icons{
    width: 25%;
}
.logo{
    flex-grow: 1;
    text-align: center;
}
nav > ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

ul a{
    text-decoration: none;
    color: inherit;
}

.logo img{
height: 20px;
}

header .icons{
    text-align: right;
}
.icons i{
    padding-left: 6px;
}
/*---MAIN----*/
.row {
    display: flex;
    gap: 10px;
    margin: 40px 0;
}
.col {
    width: calc(100% / 3);
    
}

.box{
    position: relative;
}

.heart{
    position: absolute;
    top: 6px;
    right: 0;
    background-color: white;
    padding: 10px;
}
.col .info{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 30px;
    left: 0;
}

.discount{
    background-color: #ff0000;
    color: white;
    padding: 4px 6px;
}

.ecology{
    background-color:#008000 ;
    color: white;
    padding: 4px 6px;
}

.text-style{
    font-size: 12px;
}
.text-style span{
    color: #ff0000;
    padding-right: 4px;
    
}
/*---HOVER----*/
.secondary{
    display: none;
}

.box:hover .secondary{
    display: block;
}

.primary{
    display: block;
}
.box:hover .primary{
    display: none;
}


/*---FOOTER----*/

footer > .container{
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
    
}

footer{
    color: white;
    background-color: #1a1a1a;
    border-bottom: 1px solid white;
    font-size: 14px;
}

.footer-top{
    padding-bottom: 10px;
}
footer > .icons{
    display: flex;  
}
footer .icons i{

    width: 20px;
}
.footer-left{
    width: 60%;
}
.footer-right{
    text-align: right;
    flex-grow: 1;
}